<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easily get dcrust previous year papers</title>
    <link rel="stylesheet" href="./css/head.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/footer.css" />
  </head>
  <body>
    <section class="head">
      <span>DCRUST previous year papers</span>
    </section>
    <main class="search">
      <form method="get" action="/papers">
        <label for="courseId">Enter subject's code: </label>
        <input
          name="courseId"
          placeholder="Course Id eg: ECE407B"
          id="courseId"
          autofocus="true"
        />
        <br />
        <button type="submit">Search</button>
      </form>
    </main>
    <footer>
      Made with 🖤 by
      <a href="https://www.linkedin.com/in/avnishchhikara">Avnish</a> at DCRUST
    </footer>
  </body>
</html>
